Anar_Project20_n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7b9a092d-e222-4207-8c0b-f73808184080",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "llama3.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "0ed74308-fece-4977-9446-e5dc753a1f88",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "z1IdwzgZSgzUrYXN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=43.2567&longitude=76.9286&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "25c9c8cb-b247-47da-9318-c2b1a22f2524",
      "name": "Get_Weather_Data"
    },
    {
      "parameters": {
        "url": "=https://nominatim.openstreetmap.org/ui/search.html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "3ae73811-2c16-4b52-827f-f783ab89c476",
      "name": "Get City Name",
      "notes": "Get City Name"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Напиши отчет для города Алматы. Данные: {{ $('Get_Weather_Data').item.json.current_weather_units.temperature }} {{ $('Get_Weather_Data').item.json.current_weather_units.windspeed }} Напиши отчет о погоде прямо сейчас",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "4ac7509d-1726-4c0e-8ad1-f23707dba9d7",
      "name": "Weather_Analyst_Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        672,
        224
      ],
      "id": "acbdcaf4-e4c4-48a1-81e6-9fb9f78656ef",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "637116034",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        0
      ],
      "id": "a2affa79-3712-4b19-97cd-bf86bf4c70b3",
      "name": "Telegram_Send_Weather_Report",
      "webhookId": "d55c817a-6a24-4881-9137-18719d0aea4f",
      "credentials": {
        "telegramApi": {
          "id": "H4qhEgn1pS0yAEat",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "637116034",
        "text": "Ошибка в n8n!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        224
      ],
      "id": "abe215be-268c-4099-924f-1b4b6ad10625",
      "name": "Telegram_Error_Alert",
      "webhookId": "1b20b3d8-92d8-445b-a6ba-f9b9a4b9d9c8",
      "credentials": {
        "telegramApi": {
          "id": "16b4kN9S6tXWJZgi",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get_Weather_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Weather_Analyst_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get_Weather_Data": {
      "main": [
        [
          {
            "node": "Get City Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City Name": {
      "main": [
        [
          {
            "node": "Weather_Analyst_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Telegram_Error_Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather_Analyst_Agent": {
      "main": [
        [
          {
            "node": "Telegram_Send_Weather_Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "380bbb6f-1734-4723-80ac-560083ef554a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f986dad1cc55605362b0257f6b3127b6a25e8bef678a1d231b38d90f9725832"
  },
  "id": "cYOgg1m0HruyF6HI",
  "tags": []
}